---
synapse:
  homeserver_fqdn: "{{ kealytics['synapse']['homeserver_fqdn'] }}"
  as_token: "{{ kealytics['synapse']['as_token'] }}"
  hs_token: "{{ kealytics['synapse']['hs_token'] }}"
geo_regions:
  database: GeoIP2-City.mmdb
  buckets:
{% for bucket in kealytics['geo_regions']['buckets'] %}
    - name: {{ bucket['name'] }}
      path: {{ bucket['path'] }}
{% endfor %}
database:
  dbname: {{ kealytics['database']['dbname'] }}
  user: {{ kealytics['database']['user'] }}
  password: {{ kealytics['database']['password'] }}
  host: {{ kealytics['database']['host'] }}
user_agents:
  keanu: '^keanu_example/.*'
  riot-desktop: '^mozilla/5\.0.+riot/[0-9].+electron/[0-9].*$'
  riot.im: '^riot\.im/.*$'
  riot: '^riot/.*'
